<h1>Stupid coaching</h1>

<body>
  <p class = "user"> <%= @question %> </p>
  <p> - you </p>

  <p class = "coach"> <%= @answer %> </p>
  <p> - coach </p>

  <%= link_to "ask a new question", ask_path %>
</body>
